.selectForm {
	display: inline;
	width: 200px;	
}

.labelAndSelect {
	display: inline-block;
}

.myContainer {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.names {
	width:400px;
}

.btnLogout {
    float: right;
    width: 175px;
}

.accordion {
    margin-top: 10px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    /* Unicode character for "plus" sign (+) */
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    /* Unicode character for "minus" sign (-) */
    content: "\2796";
}

.avatar {
    width: 150px;
    height: 150px;
}
