.selectForm {
	display: inline;
	width: 200px;	
}

.labelAndSelect {
	display: inline-block;
}

.myContainer {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.names {
	width:400px;
}

.btnLogout {
    float: right;
    width: 175px;
}