<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom" style="margin-top: 20px;">
    <span class="fs-4 titleInfo">Список билетов</span>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="textLink" href="">Выйти</a>
        <a class="textLink" th:href="@{/admin/add}">Добавить Пользователя</a>
    </nav>
</div>

<div th:each="teacher: ${teachers}" class="ticket p-3 rounded">
        <span>
            <button th:id="${teacher.id}" class="btn btn-danger btn-sm btnDelete">Удалить</button>
            <form method="post" th:action="@{'/admin/edit/' + ${teacher.id}}">
                <button style="margin-right: 10px" class="btn btn-danger btn-sm btnDelete">Редактировать</button>
            </form>
            <h3 th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></h3><br>
            <img class="avatar" th:src="@{/images/avatar.png}">
            <form style="margin-top: 10px;" method="post" th:action="@{'/admin/add/class/' + ${teacher.id}}">
                <select class="form-select" id="selectSubject" name="selectSubject">
                    <option>Математика</option>
                    <option>Русский язык</option>
                    <option>Английский язык</option>
                    <option>Химия</option>
                    <option>Физика</option>
                    <option>Физкультура</option>
                </select>
                <label for="classP">Введите класс</label>
                <input type="text" class="form-control" id="classP" name="classP" placeholder="Введите класс...">
                <button style="margin-top: 10px;" type="submit" class="elementsForm btn btn-primary btn-sm">Добавить</button>
            </form>
        </span>
    <div class="accordion-contianer">
        <button class="accordion">Дополнительная информация</button>
        <div class="panel">
            <table class="table table-primary mt-5">
                <thead class="table-dark">
                <tr>
                    <th class="names" scope="col">Удаление предмета</th>
                    <th class="names" scope="col">Предмет</th>
                    <th class="names" scope="col">Класс</th>
                    <th class="names" scope="col">Удалить класс</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="t : ${teacher.teacher.classP}" >
                    <td>
                        <button th:id="${teacher.id} + '/' + ${t.key}" class="btnDeleteSubject btn btn-danger btn-sm">Удалить</button>
                    </td>
                    <td th:text="${t.key}"></td>
                    <td class="subjects" th:text="${t.value}"></td>
                    <td>
                        <span>
                            <button th:id="${teacher.id} + '/' + ${t.key}" class="btnDeleteClass btn btn-danger btn-sm">Удалить</button>
                            <select class="form-select selectForm" id="selectedClass" name="selectedClass">
                                <option th:each="subject: ${t.value}" th:text="${subject}"></option>
                            </select>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>