<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/formAdd.css}"/>

</head>
<body>

<form method="post" th:action="@{/admin/editPupil}" class="border formElement rounded border-primary">

  <div id="mainElement" class="divElement">
    <h2>Добавить Ученика</h2>

    <div class="form-group elementsForm">
      <label for="id">Id</label>
      <input id="id" name="id" th:readonly="true" th:value="${pupil.id}" class="form-control"/>
    </div>

    <div class="form-group elementsForm">
      <label for="first_name">Имя</label>
      <input th:field="${pupil.firstName}" required type="text" class="form-control" id="first_name" name="first_name" placeholder="Введите имя...">
    </div>

    <div class="form-group elementsForm">
      <label for="last_name">Фамилия</label>
      <input th:field="${pupil.lastName}" required type="text" class="form-control" id="last_name" name="last_name" placeholder="Введите фамилию...">
    </div>

    <div id="classP_div" class="form-group elementsForm">
      <label for="classP">Введите класс</label>
      <input th:field="${pupil.classP}" required type="text" class="form-control" id="classP" name="classP" placeholder="Введите класс...">
    </div>
    <div>
      <button style="margin-top: 10px;" type="submit" class="elementsForm btn btn-primary btn-lg">Изменить</button>
    </div>
  </div>

  </div>
</form>

</body>
</html>