<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель преподавателя</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/teacher.js}"></script>
</head>
<body>

<div class="myContainer">

    <div>
        <a th:href="@{/logout}" class="btn btn-primary btn-md btnLogout" >Выйти</a>
        <h1 th:text="'Журнал: ' + ${user.firstName} + ' ' + ${user.lastName}" class="mt-3"></h1>
    </div>
    <div class="teacherSelectDiv" th:id="${user.teacher.id}" style="margin-top: 30px;">
        <h5 style="display: inline;" class="label label-default">Выберите предмет:</h5>
        <select id="selectedSubject" name="selectedSubject" class="form-select selectForm">
            <option th:each="subject: ${user.teacher.classP?.keySet()}" th:text="${subject}" th:value="${subject}"></option>
        </select>
        <h5 style="display: inline;" class="label label-default">Выберите класс:</h5>
        <select id="selectedClass" name="selectedClass" class="form-select selectForm"></select>
        <button th:attr="data-value='/teacher'" class="btn-post btn btn-info btn-md" style="vertical-align: baseline;">Отобразить оценки</button>
    </div>

    <div class="pupilContent ticket p-3 rounded"></div>

</div>

</body>
</html>